.list {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 2rem;
  color: var(--text);
  min-height: 100vh;
}

.list-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.list-table tr {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.list-table tr.hovered {
  background-color: var(--lightBlue);
  transform: scale(1.02); 
}

.list-table,
.list-table td {
  border: none;
}

.list-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.list-button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.list-view {
  background-color: var(--lightBlue);
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: right;
  transition: all 0.3s ease;
}

.list-view:hover {
  background-color: var(--text);
  color: var(--lightBlue);
}

.list-approved {
  background-color: var(--orange);
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: right;
  transition: all 0.3s ease;
}

.list-approved:hover {
  background-color: var(--text);
  color: var(--orange);
}
.orders-list-top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.add-button{
  background-color: var(--orange);
  color: var(--text);
  padding: 8px 12px;
  border-radius: 15px;
  color: var(--text);
  border: none;
  cursor: pointer;
  font-size: 14px;
 
  
}
.add-button:hover{
  background-color: var(--text);
  color: var(--orange);
}