/* שולטים בגודל המודל */
.custom-swal-modal {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}

.swal2-popup {
    padding: 0 !important;
}

.login-page-form {
    width: 100%;
    height: auto;
    /* אוטומטי לפי התוכן */
    max-height: 90vh;
    /* מגביל את הגובה ל-90% מגובה החלון */
    padding: 15px;
    /* פחות ריווח פנימי */
    box-sizing: border-box;
    /* מוודא שרוחב כולל padding */
}

.login-page {
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--orange);
    position: relative;
    font-family: "Varela Round", serif;
}

.login-page-form {
    background-color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 50px; */
    gap: 20px;
    /* height: 550px; */
    width: 250px;
    border-radius: 10px;
    position: relative;
}

.login-page-form h1 {
    color: var(--orange);
    text-align: center;
    /* ממרכז את הכותרת */
    letter-spacing: 0.5px;
}

.login-page-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* text-align: right; */
}

.login-page-form label {
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    text-align: right;
    /* יישור הטקסט לימין */
    display: block;
    /* מוודא שהטקסט תופס את כל רוחב התיבה */
    direction: rtl;
    /* כיוון ימין לשמאל עבור עברית */
    /* margin-bottom: 5px; */
    letter-spacing: 0.5px;
}


.login-page-form input[type="text"],
.login-page-form input[type="email"],
.login-page-form input[type="password"],
.login-page-form input[type="phone"],
.login-page-form input[type="file"] {
    width: 100%;
    padding: 5px;
    border: solid 1.5px var(--orange);
    border-radius: 5px;
    background-color: var(--text);
    color: var(--orange);
}

.checkbox {
    display: flex;
    justify-content: flex-end;
    /* מיישר את הכפתור והטקסט לימין */
    align-items: flex-start;
    width: 100%;
    /* מוודא שהתיבה תופסת את כל רוחב הקונטיינר */
    text-align: right;
    /* מוסיף יישור לימין לטקסט */
    gap: 10px;
    /* יוצר מרווח בין תיבת הסימון לטקסט */
    letter-spacing: 0.5px;
}



.checkbox label {
    margin-left: 10px;
}

.checkbox input {
    margin-right: 5px;
}

.login-page-form button {
    background-color: var(--orange);
    color: var(--text);
    text-align: center;
    border-radius: 10px;
    padding: 9px;
    width: 150px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-family: "Varela Round", serif;
    margin: 0;
}

.login-page-form button:hover {
    background-color: var(--text);
    color: var(--orange);
    border: 1px solid var(--orange);
}

.img-back {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
}

.sign-with-google {
    width: 100%;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "Varela Round", serif;
    position: relative;
    padding: 0;
}


.login-h1 {
    text-align: center;
    /* יישור לאמצע */
    font-size: 2rem;
    padding: 10px;
}

/* .modal-overlay-homepage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 9999;
} */

.modal-content-homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    width: 350px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* מודל מותאם אישית לרישום מוצלח */
.custom-success-swal {
    background-color: var(--text);
    /* צבע הרקע לבן */
    color: var(--orange);
    /* צבע הכיתוב כתום */
    width: 250px;
    /* רוחב המודל */
    padding: 20px;
    /* ריווח פנימי */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* צל למודל */
}

/* אייקון ה-V */


/* טקסט */
.custom-success-swal .custom-success-text {
    color: var(--orange);
    /* צבע הטקסט כתום */
    font-size: 0.7rem;
    margin-top: 10px;
}