.navbarBox {
    display: flex;
    flex-direction: column;
    max-height: 200px;

}

.iphone-menu {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: black;
    border-bottom: 3px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-text {
    padding: 60px;
    margin: 20px;
    max-width: 40vw;
}

.nav-logo {
    border-radius: 5px;
    background-color: var(--text);
    height: 70px;
    width: 70px;
    margin-top: 30px;
    padding-top: 10px;
    z-index: 100;
    position: fixed;
}

.nav-title {
    margin: 30px;
    padding: 60px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logout-button {
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: var(--text);
    font-size: 1rem;
    font-family: "Varela Round";
}

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-hello {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    font-size: 1.1rem;
    color: var(--text);
}

.account-profile {
    display: flex;
    align-items: center;
    color: var(--text);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 0px;
    padding: 5px;
}


.navbar-under-homepage a:hover {
    color: var(--lightBlue);
    cursor: pointer;

}

.navbar-under-homepage a.active-navlink-nav {
    color: var(--lightBlue);
}



.contact-button:hover {
    color: var(--lightBlue);
    cursor: pointer;
}

.heart-home,
.shopping-cart-home {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.navbar-under-homepage {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 40px;
    color: var(--orange);
    direction: rtl;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #00008b;
    z-index: 1;
}

.navbar-under-homepage button {

    left: 200px;
    background-color: transparent;
    color: var(--orange);
    border: none;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

}

.navbar-under-homepage button:hover,
.navbar-under-homepage :hover {
    color: var(--lightBlue);
    cursor: pointer;
}

.logo-homepage {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.heart-home {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

.shopping-cart-home,
.bell {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35px;
    height: 32px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.home-page-casing {
    background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    display: flex;
    flex-direction: column;
}


@media (max-width: 480px) {
    .navbarBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .iphone-menu {
        display: block;

        cursor: pointer;

        position: absolute;
        width: 32px;
        height: 37px;
        padding: 5px;
        z-index: 100;
    }

    .navbar-under-homepage {
        display: none;

    }

    .navbar-top-homepage {
        display: none !important;
    }
}