.orders-list{
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: var(--text);
}

.orders-list-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .orders-list-table tr.hovered {
    background-color: var(--lightBlue);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.orders-list-table, .orders-list-table td {
    border: none; 
}


  .orders-list-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  
.orders-list-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.orders-list-createdAt{
    width:150px;
}



.orders-list-buttons{
    display: flex;
    justify-content: center;
    gap:10px    
}
.orders-list-button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    font-size: 14px;
    
}

.orders-list-view{
    background-color:var(--lightBlue);
    font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
  direction: rtl;
  text-align: right;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.orders-list-view:hover{
    background-color:var(--text) ;
    color:var(--lightBlue);
    
}
.orders-list-add-button{
    background-color: var(--orange);
    font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
  direction: rtl;
  text-align: right;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}



  